<% title "Torrents" %>

<table>
  <tr>
    <th>id</th>
    <th>addedDate</th>
    <th>isFinished</th>
    <th>name</th>
    <th>percentDone</th>
    <th>rateDownload</th>
    <th>rateUpload</th>
    <th>totalSize</th>
  </tr>
  <% @torrents.each do |torrent| %>
    <tr>
      <td><%= torrent.id %></td>
      <td><%= torrent.addedDate %></td>
      <td><%= torrent.isFinished %></td>
      <td><%= torrent.name %></td>
      <td><%= torrent.percentDone %></td>
      <td><%= torrent.rateDownload %></td>
      <td><%= torrent.rateUpload %></td>
      <td><%= torrent.totalSize %></td>
      <td><%= link_to "Show", torrent_path(torrent.id) %></td>
      <td><%= link_to "Destroy", torrent_path(torrent.id), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Torrent", new_torrent_path %></p>
