<% title "Torrent" %>

<p>
  <strong>id:</strong>
  <%= @torrent.id %>
</p>
<p>
  <strong>addedDate:</strong>
  <%= @torrent.addedDate %>
</p>
<p>
  <strong>isFinished:</strong>
  <%= @torrent.isFinished %>
</p>
<p>
  <strong>name:</strong>
  <%= @torrent.name %>
</p>
<p>
  <strong>percentDone:</strong>
  <%= @torrent.percentDone %>
</p>
<p>
  <strong>rateDownload:</strong>
  <%= @torrent.rateDownload %>
</p>
<p>
  <strong>rateUpload:</strong>
  <%= @torrent.rateUpload %>
</p>
<p>
  <strong>totalSize:</strong>
  <%= @torrent.totalSize %>
</p>

<p>
  <%= link_to "Destroy", torrent_path(@torrent.id), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", torrents_path %>
</p>
